.base {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: black;
  color: white;
  border: none;
}

.ghost {
  background-color: transparent;
  color: #4f46e5;
  border: 1px solid #4f46e5;
}
